<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chickens App</title>
  </head>
  <body>
    <h1>Welcome to the Chicken app!</h1>
    <p>An app for collecting your favorite chickens.</p>
  </body>
</html>
