<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add to Library</title>
  </head>
  <body>
    <h1>Add to your Library</h1>
    <form action="/film" method="POST">
      <label for="title">Title:</label>
      <input type="text" name="title" />

      <label for="releaseYear">Release Year:</label>
      <input type="number" name="releaseYear" />

      <label for="director">Director:</label>
      <input type="text" name="director" />

      <label for="star">Star:</label>
      <input type="text" name="star" />

      <label for="genre">Genre:</label>
      <select name="genre" id="genre">
        <option value="Action">Action</option>
        <option value="Comedy">Comedy</option>
        <option value="Drama">Drama</option>
        <option value="Horror">Horror</option>
      </select>
    
      <label for="personalRating">Personal Rating:</label>
      <input type="number" min="0" max="10" name="personalRating" />

      <button type="submit">Submit</button>
    </form>
  </body>
</html>
